<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/eclipse_work/V12">
        <classes>
<!--            <class name="Tests.ForgotPassTest">-->
<!--                <methods>-->
<!--                    <include name="emptyUserIDValidation"/>-->
<!--                    <include name="InvalidUserID"/>-->
<!--                    <include name="validUserID"/>-->
<!--                    <include name="emptySecretAnswerValidation"/>-->
<!--                    <include name="InvalidAnswer"/>-->
<!--                    <include name="sendNewPassword"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="Tests.LoginTest">
                <methods>
                    <include name="EmptyCredentials"/>
<!--                    <include name="InvalidCredentials"/>-->
<!--                    <include name="VerifyingCredentials"/>-->
<!--                    <include name="SignInWithRememberMe"/>-->
                </methods>
            </class>
<!--            <class name="Tests.PasswordResetTest">-->
<!--                <methods>-->
<!--                    <include name="VerifyingCredentials"/>-->
<!--                    <include name="emptyFieldsValidation"/>-->
<!--                    <include name="invalidCurrentPassValidation"/>-->
<!--                    <include name="newPassCharLimitValidation"/>-->
<!--                    <include name="newPassExcludeCapitalsValidation"/>-->
<!--                    <include name="newPassExcludeSimplesValidation"/>-->
<!--                    <include name="newPassExcludeNumbersValidation"/>-->
<!--                    <include name="newPassExcludeSymbolsValidation"/>-->
<!--                    <include name="passwordMismatchValidation"/>-->
<!--                    <include name="passwordResetSuccessValidation"/>-->
<!--                    <include name="loginWithNewPassword"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>